a {
  text-decoration: none;
  outline: none;
  color: #000;
  *hide-focus: expression(this.hideFocus=true); }
/*bottom*/
.bottom {
  font-size: 2em;
  position: relative;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
li {
  padding: 5px 100px;
}
.bottom .container {
  width: 1700px;
  top: 100px;
  margin: 0 auto;
}
li:nth-child(even) {
  background-color: #dddddd;
}
li:nth-child(odd) {
  background-color: #fff;
}
