/* SLIDESHOW */
.slides img {
	top: 0;
	width: 550px;
	height: 400px;
	-webkit-animation: fade 0.5s linear;
	-webkit-animation-delay: 0s;
	animation-timing-function: ease-in-out;
}
.slideshow {
  width: 950px;
	height: 400px;
  position: relative;
	left: 50%;
	top: 0;
	transform: translate(-50%,0);
	background: #999;
	border: 2px white solid;
	border-radius: 20px;
}
#knappTilbake, #knappForan, .kryss {
	position: absolute;
	width: auto;
  top: 40%;
	cursor: pointer;
	transition: background-color 1s ease, color 1s ease;
	border-radius: 20px;
	font-size: 2em;
	font-weight: bold;
	color: white;
	padding: 20px;
}
.kryss {
	right: 0;
	top: 0;
}
#knappForan {
	right: 0;
}
#knappTilbake {
	left: 0;
}
.kryss:hover {
  color: purple;
}
#knappForan:hover, #knappTilbake:hover{
	color: purple;
	background-color: #bbb;
}
/* DOTS */
#dotBox {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%,0);
	background-color: rgba(200, 200, 200, 0.5);
	padding: 5px;
	border-radius: 10px 10px 0 0;
	z-index: 999;
}
.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 2px;
	padding: 0;
  background-color: #fff;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #333;
}
@-webkit-keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fade {
	from {opacity: 0;}
  to {opacity: 1;}
}
