<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:image" content="https://dl.dropboxusercontent.com/s/ss01msdevldb9cy/logo.jpg">
<meta property="og:description" content="ヽ(・∀・)ﾉ">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<script type="text/javascript">
      if (/AppleWebKit.*Mobile/i.test(navigator.userAgent) || /Android|iPhone|Windows Phone|webOS|iPod|BlackBerry/i.test(navigator.userAgent)) {
          //if (window.location.href.indexOf("?pc") == -1) {
             // window.location.href = "./m/index.html";
          //}
      };
</script>
<link type="image/x-icon" rel="shortcut icon" href="{{ "/favicon.ico" }}" />
<link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
