body,html { margin:0; padding:0; font-size:14px; font-family:"Arial";  background:#fff; color:#5d5649; }
img { border:0; vertical-align:top; }
div.highlight {
  background-color: #eff0f1;
  padding: 5px;
  margin: 40px;
  border-radius: 20px;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}
code, code.highlighter-rogue {
  white-space: pre-wrap;
  background-color: #eff0f1;
  border-radius: 3px;
  line-height: 1.45;
  padding: 3px;
}
html{
  overflow-x: hidden;
  zoom: 0.7;
}
body {
  width: 100%;
  font-family: Helvetica, sans-serif;
  color: #434343;
  line-height: 1.5;
  background-color: #fff;
  overflow-x: hidden;
}
button {
	background: lightgray;
	border: 4px solid gray;
	border-radius: 20px;
	width: 32%;
  height: 200px;
	margin: 5px;
  transition: all 2s, background-color 0.6s, color 2s, height 1s;
  cursor: pointer;
  font-weight: bolder;
  font-size: 2em;

  position: relative;
  overflow: hidden;
  line-height: 32px;
}
button:hover {
  background-color: black;
  color: white;
  height: 250px;
}
.bgs::after {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -100%;
  background: linear-gradient(to bottom, rgba(252,236,252,0), rgba(255,255,255,0.5) 50%, rgba(252,236,252,0));
  transform: rotateZ(-40deg) translate(0, -150%);
  animation: sheen1 10s infinite ease-in-out;
}
@keyframes sheen1 {
  100% {
    transform: rotateZ(-40deg) translate(0, 400%);
  }
}
.topnav {
  display: flex;
  justify-content: center;
  background-color: rgba(30,30,30,1);
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: rgba(155,155,155,1);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bolder;
  transition: all 1s;
}
.middle h2 {
  text-align: center;
  text-size: 3.3em;
}
.topnav a:hover {
  color: rgba(255,255,255,1);
  text-decoration: underline;
}
.buttons {
  width: 1200px;
  margin: 0 auto;
}
.bgs {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 960px;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, rgba(252,236,252,1) 0%,rgba(251,166,225,1) 45%,rgba(253,137,215,1) 70%,rgba(253,137,215,1) 70%,rgba(255,124,216,1) 100%);
}
/*top*/
.top {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  /* width: 100%; */
  height: 960px;
}
.logo {
  position: absolute;
  top: 36px;
  left: 158px;
  z-index: 999;
}
.top_main {
  position: absolute;
  top: 0;
  right: 0;
  /*width: 1920px;*/
  width: 100%;
  height: 960px;
  overflow:hidden;
}
.slogan {
  position: absolute;
  top: 300px;
  left: 50%;
  margin-left: -630px;
  width: 1419px;
  height: 284px;
  background: url(../assets/img/solgan-tit.png) no-repeat;
  z-index: 5;
}
.person {
  position: absolute;
  top: 55px;
  left: 29%;
  margin-left: -437px;
  width: 1521px;
  height: 955px;
  background: url(../assets/img/aaa.png) no-repeat;
  z-index: 10;
}
.q {
  position: absolute;
  width: 575px;
  height: 507px;
  top: 64px;
  left: 50%;
  margin-left: -348px;
}
.q1 {
  position: absolute;
  top: 0;
  left: 16px;
  width: 493px;
  height: 492px;
  background: url(../assets/img/q1.png) no-repeat;
  -webkit-animation:Anti-clockwise 54s linear infinite;
  animation:Anti-clockwise 54s linear infinite;
}
.q-l {
  position: absolute;
  top: 156px;
  left: 173px;
  width: 180px;
  height: 180px;
  background: url(../assets/img/q3_l.png) no-repeat;
  -webkit-animation:Anti-clockwise 18s linear infinite;
  animation:Anti-clockwise 18s linear infinite;
}
.q-r {
  position: absolute;
  top: 108px;
  left: 124px;
  width: 277px;
  height: 276px;
  background: url(../assets/img/q4_r.png) no-repeat;
  -webkit-animation:Clockwise 25s linear infinite;
  animation:Clockwise 25s linear infinite;
}
/*middle*/
.middle {
  position: relative;
  height: 100px;
  overflow: hidden;
}
/*bottom*/
.bottom {
  position: relative;
  height: 100%;
  overflow: hidden;
  width: 100%;
  background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)),
    url(../assets/img/bot_bg.jpg);;
  background-size: 100% 100%;
}
.bottom .container {
  width: 1700px;
  top: 100px;
  margin: 0 auto;
}
/*footer*/
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  background: #000;
}
.footer a:link , .footer a:visited {
  color: #777;
}
.footer a:hover {
  color: #eee;
}
.footer p {
  margin: 28px auto 0;
  width: 708px;
  color: #777;
  font-size: 20px;
  text-align: center;
  line-height: 27px;
}
@media only screen and (max-width: 1030px) {
    .slogan {
      left: 45%;
      transform: scale(0.95);
    }
    .topnav {
      display: block;
      text-align: center;
    }
    .topnav a{
      width: 95%;
    }
}
@media only screen and (max-width: 930px) {
    body,html {
      font-size: 14px;
      overflow-y: auto;
    }
    .buttons {
      width: 100%;
    }
    button {
      width: 90%;
      transform: translate(5%,0);
    }
    .bgs {
      background: linear-gradient(135deg, rgba(252,236,252,1) 0%,rgba(251,166,225,1) 33%,rgba(196,169,242,1) 63%,rgba(196,169,242,1) 63%,rgba(132,119,244,1) 100%);
    }
    .logo {
      top: 20px;
      left: 50%;
      transform: translate(-50%,0);
    }
    .slogan {
      margin-left: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: -60px;
      background: url(../assets/img/slogan.png) no-repeat;
      transform: scale(0.6);
    }
    .bottom .container {
      width: 90% !important;
      top: 100px;
      margin: 0 auto;
      font-size: 14px;
    }
    .bottom .container li{
      height: 130px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .footer {
      display: inline-block;
      height: 110px;
    }
    .footer p {
      margin: 28px auto 0;
      width: 100%;
      font-size: 12px;
      text-align: center;
      line-height: normal;
    }
}
/*ANIMATIONS*/
@-webkit-keyframes Clockwise{
  to {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}
@keyframes Clockwise{
  to {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}

@-webkit-keyframes Anti-clockwise{
  to {
    -webkit-transform:rotate(-360deg);
    transform:rotate(-360deg);
  }
}
@keyframes Anti-clockwise{
  to {
    -webkit-transform:rotate(-360deg);
    transform:rotate(-360deg);
  }
}
