@reference './global.css';

@layer base {
  .prose {
    font-size: 18px;
    @apply text-foreground leading-relaxed;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply relative text-secondary leading-[1.2] mb-2 font-medium;
    }

    h1 {
      font-size: 2.561em;
      @apply left-8 not-first:mt-8;

      &::before {
        content: "#";
        font-size: 2.15rem;
        @apply absolute -left-8;
      }
    }

    h2 {
      font-size: 1.953em;
      @apply left-7 not-first:mt-8;

      &::before {
        content: "#";
        font-size: 1.8rem;
        @apply absolute -left-7;
      }
    }

    h3 {
      font-size: 1.463em;
    }

    h4 {
      font-size: 1.25em;
    }

    h5 {
      font-size: 1.12em;
    }

    strong,
    b {
      @apply font-bold;
    }

    a {
      @apply text-secondary underline hover:text-white transition-colors font-bold;
    }

    p {
      @apply mb-5;

      & + ul,
      & + ol {
        @apply -mt-4;
      }

      img {
        @apply mt-2;
      }

      & + .expressive-code {
        @apply -mt-4;
      }
    }

    textarea {
      @apply w-full text-base;
    }

    input {
      @apply text-base;
    }

    table {
      @apply w-full;
    }

    ol {
      @apply list-decimal pl-6;
    }

    ul {
      @apply list-disc pl-6;
    }

    li {
      @apply relative mb-4 not-last-of-type:mb-1 first-of-type:pt-2;
    }

    img {
      @apply max-w-full h-auto rounded-lg;
    }

    .expressive-code {
      @apply pt-2 mb-4;

      .title {
        @apply !text-foreground !text-xs;
      }

      & + h1,
      & + h2,
      & + h3,
      & + h4 {
        @apply pt-4;
      }
    }

    code {
      @apply text-sm font-mono text-foreground bg-card/90 border border-border/50 rounded-sm px-1 py-0.5;
    }

    pre {
      @apply p-6 rounded-lg;

      & > code {
        all: unset;
      }
    }

    sup {
      @apply pl-1;
    }

    blockquote {
      @apply border-l-4 border-secondary pl-5 mt-4 text-white;
    }

    hr {
      @apply border-none border-t-border border-2;
    }
  }
}
