---
import Link from "@/components/Link.astro";
import PageHead from "@/components/PageHead.astro";
import Title from "@/components/Title";
import { SITE_DESCRIPTION, SITE_AUTHOR } from "@/consts";
import Layout from "@/layouts/Layout.astro";
import AnimatedBlock from "@/components/AnimatedBlock";
---

<Layout hasAccentHeader>
  <PageHead
    slot="head"
    title={`About me | ${SITE_AUTHOR}`}
    description={SITE_DESCRIPTION}
  />
  <section class="flex flex-col justify-center pb-4">
    <Title client:load text="About me" scrollText="ABOUT" />
    <AnimatedBlock client:load>
      <p>
        Hello! This is Shirajuki, a fullstack software developer and CTF player
        from Lillehammer, Norway.
      </p>

      <ul class="pt-2 pb-6 px-4">
        <li class="list-disc">
          X (Twitter): <Link href="https://x.com/shirajukii">@shirajukii</Link>
        </li>
        <li class="list-disc">
          Github: <Link href="https://github.com/shirajuki">@shirajuki</Link>
        </li>
        <li class="list-disc">
          Developer portfolio: <Link href="https://jonny.ngoluong.no"
            >jonny.ngoluong.no</Link
          >
        </li>
      </ul>

      <h2 class="text-lg font-bold py-2">Capture-the-flag</h2>
      <p>
        I occasionally play CTF with my friends and teammates at <Link
          href="https://ctftime.org/team/109611">@Iku-toppene</Link
        >, <Link href="https://bootplug.io/">@bootplug</Link>, <Link
          href="https://corax.team/">@corax</Link
        > and <Link href="https://ctftime.org/team/182472"
          >@RumbleInTheJungle</Link
        >. I am especially interested in web, misc, pwn and jails. Outside from
        cybersecurity and hacking, I usually do web and mobile development.
      </p>

      <div class="text-sm leading-6">
        <h3 class="text-lg font-bold pt-6">2025</h3>
        <ul class="pt-2 pb-4 px-4"> 
          <li class="list-disc">NNS CTF 2025 | 🥈 (Team: Iku-toppene)</li>
          <li class="list-disc">Sikkerhetsfestivalen 2025 CTF | Challenge Author</li>
          <li class="list-disc">NahamCon CTF 2025 | 🥇 (Team: dugnad)</li>
          <li class="list-disc">Cyberlandslaget (NCSC) 2025 Semi-Finals (senior) | 🥇 (individual)</li>
          <li class="list-disc">x3CTF 2025 (feat. mvm) | 🥈 (Team: Carixo nr. 1)</li>
        </ul>

        <h3 class="text-lg font-bold pt-2">2024</h3>
        <ul class="pt-2 pb-4 px-4">
          <li class="list-disc">Blue Water CTF 2024 | 6th (Team: Iku-toppene)</li>
          <li class="list-disc">DefCamp Capture the Flag (D-CTF) 2024 Finals | 12th (Team: Iku-toppene)</li>
          <li class="list-disc">Equinor CTF 2024 | 8th (Team: Iku-toppene)</li>
          <li class="list-disc">Telia Cyber Battle of Nordic-Baltics 2024 Finals | 🥈 (Team: Iku-toppene)</li>
          <li class="list-disc">Telia Cyber Battle of Nordic-Baltics 2024 Quals | 🥇 (Team: Iku-toppene)</li>
          <li class="list-disc">DefCamp Capture the Flag (D-CTF) 2024 Quals | 8th (Team: Iku-toppene)</li>
          <li class="list-disc">idekCTF 2024 | 10th (Team: Iku-toppene)</li>
          <li class="list-disc">WaniCTF 2024 | 🥇 (Team: Iku-toppene)</li>
          <li class="list-disc">RITSEC CTF 2024 | 🥇 (Team: Iku-toppene)</li>
          <li class="list-disc">UNbreakable International 2024 | 🥇 (Team: Iku-toppene)</li>
          <li class="list-disc">1753CTF 2024 | 🥈 (Team: Iku-toppene)</li>
          <li class="list-disc">Pearl CTF | 🥈 (Team: Iku-toppene)</li>
          <li class="list-disc">Sikkerhetsfestivalen 2024 CTF | Challenge Author</li>
          <li class="list-disc">Cyberlandslaget (NCSC) 2024 Semi-Finals | 🥇 (Individual)</li>
          <li class="list-disc">DEF CON 32 CTF Quals | 15th (Team: NorseCode)</li>
        </ul>

        <h3 class="text-lg font-bold pt-2">2023</h3>
        <ul class="pt-2 pb-4 px-4">
          <li class="list-disc">DefCamp Capture the Flag (D-CTF) 2023 Finals | 5th (Team: Iku-toppene)</li>
          <li class="list-disc">Equinor CTF 2023 | 🥈 (Team: Iku-toppene)</li>
          <li class="list-disc">DefCamp Capture the Flag (D-CTF) 2023 Quals | 12th (Team: Iku-toppene)</li>
          <li class="list-disc">ISITDTU CTF 2023 Quals | 10th (Team: Iku-toppene)</li>
          <li class="list-disc">Internet Festival 2023 CTF finals | 🥉 (Team: Iku-toppene)</li>
          <li class="list-disc">Crowdsec's Alpaca Odyssey 2023 | 🥇 (Team: NTNU S2G)</li>
          <li class="list-disc">DEF CON 31 CTF | 6th (Team: NorseCode)</li>
          <li class="list-disc">Cyberlandslaget (NCSC) 2023 Semi-Finals | 🥈 (Individual)</li>
          <li class="list-disc">TG:Hack23 | 🥉 (Team: Corax)</li>
          <li class="list-disc">ZeroDays CTF 2023 | 🥇 (Team: NTNU S2G)</li>
        </ul>

        <h3 class="text-lg font-bold pt-2">2022</h3>
        <ul class="pt-2 pb-4 px-4">
          <li class="list-disc">M0lecon 2022 Finals | 6th (Team: Bootplug)</li>
          <li class="list-disc">Equinor CTF 2022 (student) | 🥇 (Team: Iku-toppene)</li>
          <li class="list-disc">Norwegian Cyber Security Challenge (NCSC) 2022 Finals | 🥈 (Individual)</li>
          <li class="list-disc">HackTheBox: CyberApocalypse CTF 2022 - Intergalactic Chase | 8th (Team: Bootplug)</li>
          <li class="list-disc">Tenable CTF 2022 | 🥉 (Team: Corax)</li>
        </ul>
      </div>
    </AnimatedBlock>
  </section>
</Layout>
