---
import Link from "./Link.astro";
import { Button } from "./ui/button";
---

<footer class="mx-auto max-w-4xl pt-1 pb-6 h-24">
  <div
    class="flex flex-col items-end justify-center gap-y-2 px-4 sm:flex-row sm:justify-between h-full"
  >
    <span class="text-muted-foreground text-sm text-foreground">
      Loosely designed in Figma by Shirajuki ({new Date().getFullYear()}). <br
      /> Built with Astro.js, MDX and Tailwind CSS
    </span>
    <div class="flex gap-2">
      <Button size="icon" variant="outline">A</Button>
      <Button size="icon" variant="outline">B</Button>
      <Link href="/rss.xml" external>
        <Button size="icon" variant="outline">C</Button>
      </Link>
    </div>
  </div>
</footer>
