---
import Link from "./Link.astro";
import ScrollBar from "./ScrollBar";
---

<header
  class="relative mx-auto w-full max-w-4xl h-16 z-20"
  transition:name="header"
>
  <ScrollBar client:load />
  <nav class="flex space-between items-center justify-between p-4">
    <a href="/#nosplash" class="flex items-center no-underline text-white">
      <img
        src="/logo.webp"
        alt="Logo"
        class="w-8 h-8 rounded-md"
        transition:name="header-logo"
        transition:persist
      />
      <span class="fancy-font text-2xl ml-2 mt-1">Shirajuki</span>
    </a>
    <div class="flex gap-2 text-sm">
      <Link href="/blog" class="hover:text-white no-underline font-normal"
        >Blog</Link
      >
      <Link href="/about" class="hover:text-white no-underline font-normal"
        >About</Link
      >
    </div>
  </nav>
</header>
