---
import { cn } from "@/lib/utils";
---

<section
  class="relative bg-primary w-full top-0 left-0 h-screen flex justify-center items-center text-center -translate-y-16 overflow-hidden"
>
  <article class="relative w-5/12 text-2xl z-20 max-w-lg">
    <header class="fancy-font text-foreground">
      <h2>Hello, i’m</h2>
    </header>
    <section>
      <h1 class="text-7xl font-bold py-5 text-white">Shirajuki</h1>
    </section>
    <footer>
      <h2 class="fancy-font text-foreground">
        A CTF player @Iku-toppene @bootplug @Corax @RumbleInTheJungle
        <span>& @CyberSalmons</span>
      </h2>
    </footer>
  </article>

  <div
    class="absolute top-0 right-0 w-1/2 h-[200vh] bg-primary-dark z-10 rotate-[18deg] -translate-y-3/12 translate-x-6/12"
  >
  </div>
</section>
