---
import { cn } from "@/lib/utils";

interface Props {
  href: string;
  external?: boolean;
  class?: string;
  // biome-ignore lint/suspicious/noExplicitAny: <explanation>
  [key: string]: any;
}

const { href, external, class: className, ...rest } = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  class={cn(
    "inline-block transition-colors duration-300 ease-in-out text-secondary underline hover:text-white font-bold",
    className,
  )}
  {...rest}
>
  <slot />
</a>
