<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
	<link rel="stylesheet" href="{{ "/css/post.css" }}">
	{% seo %}
	<style media="screen">
		a {
			text-decoration: none;
			outline: none;
			color: #000;
			*hide-focus: expression(this.hideFocus=true);
			transition: color 1s 0.1s;
		}
		li {
			transition: background-color 2s, color 2s;
		}
		li:hover {
			color: #fff;
			background-color: black;
		}
	</style>
</head>
<body>
	{% include header.html %}
	{% include nav.html %}
	{{ content }}
  {% include footer.html %}
</body>
</html>
