body {
	background-color: #eee;
	font-size: 1.4em;
	padding: 0;
	margin: 0;
	font-family: arial fantasy;
}
main {
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
}
p>a {
	color: white;
	outline: none;
	text-decoration: none;
}
header {
	text-align: left;
	color: white;
	margin: 0;
	padding: 1px 0 1px 0;
	width: 100%;
	background-color: black;
	font-weight: bold;
}
.banner {
	width: 1000px;
	height: 390px;
	background-color: black;
}
#videoBox {
	visibility: visible;
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}
h1 {
	color: deeppink;
	text-align: center;
}
div {
	margin: 0 auto;
}
.images {
	position: relative;
}
.images button {
	display: block;
	position: absolute;
	font-size: 0.7em;
	font-weight: bold;
	width: 110px;
	z-index: 999;
	transition: all 1s;
	background-color: rgb(30,30,30);
	color: white;
	cursor: pointer;
}
#halden {
	top: 400px;
	left: 200px;
}
#fredrikstad {
	top: 360px;
	left: 100px;
}
#askim {
	top: 110px;
	left: 170px;
}
#ørje {
	top: 250px;
	left: 280px;
}
#moss {
	top: 185px;
	left: 0px;
}
.images button:hover {
	background-color: white;
	color: black;
}
.middle {
	display: flex;
	justify-content: center;
}
table, td {
	position: relative;
  border: 1px solid black;
  border-collapse: collapse;
}
td {
	background-color: white;
}
.box {
	width: 1000px;
}
button {
	background: lightgray;
	border: 1px solid gray;
	border-radius: 20px;
	width: 100%;
	margin: 5px;
	height: 30px;
}
/* BANNER */
.banner {
	width: 1000px;
	height: 390px;
	position: relative;
	background: black;
	border-radius: 20px;
	display: flex;
	justify-content: center;
}
.slides img {
	top: 0;
	width: 600px;
	height: 390px;
}
#knappTilbake, #knappForan {
	position: absolute;
	width: auto;
  top: 40%;
	cursor: pointer;
	transition: background-color 1s ease, color 1s ease;
	border-radius: 20px;
	font-size: 2em;
	font-weight: bold;
	color: white;
	padding: 20px;
}
#knappForan {
	right: 0;
}
#knappTilbake {
	left: 0;
}
#kryss:hover {
	color: purple;
}
#knappForan:hover, #knappTilbake:hover {
	color: purple;
	background-color: #bbb;
}
.slides .title {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%,0);
	background-color: rgba(255, 255, 255, 0.5);

	-webkit-animation: endreFarge 2s infinite;
	-webkit-animation-delay: 0s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}
/* DOTS
//////////////////////////////////////////////*/
#dotBox {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%,0);
	background-color: rgba(200, 200, 200, 1);
	padding: 5px;
	border-radius: 10px 10px 0 0;
	z-index: 999;
}
.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 2px;
	padding: 0;
  background-color: #fff;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #333;
}
@-webkit-keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fade {
	from {opacity: 0;}
  to {opacity: 1;}
}
