@import '@fontsource/fira-mono';
@import 'fonts.scss';

:root {
  font-family: 'Be Vietnam', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  --font-mono: 'Fira Mono', monospace;
  --font-fancy: 'Indie Flower', monospace;
  --pure-white: #ffffff;

  --primary-color: #0e0a25;
  --secondary-color: #2b2642;
  --tertiary-color: #4330a2;
  --accent-color: #543dcb;
  --heading-color: #cfc2e8;
  --text-color: #e2e2e2;

  --column-margin-top: 4rem;
}

*,
::after,
::before {
  box-sizing: border-box;
}

:focus-visible {
  outline: var(--accent-color) solid 2px;
}

html {
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.5);
  }
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  ::-webkit-scrollbar-thumb {
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    border-radius: 4rem;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
pre::-webkit-scrollbar {
  width: 19px;
  height: 11px;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  overflow-x: hidden;
}

main > section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  width: 100%;
  margin: var(--column-margin-top) auto 0 auto;
}

#svelte {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  line-height: 1.7;
}

a {
  color: var(--heading-color);
  text-decoration: none;
  border-bottom: 1px solid var(--heading-color);
  transition: 0.4s color, 0.2s background-color;
  &:hover {
    background-color: var(--heading-color);
    color: var(--primary-color);
  }
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

h1.titleHeader {
  position: relative;
  font-size: 1.8em;
  padding: 0.8rem 2.5rem;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 0.2rem;

  color: var(--pure-white);

  &::before {
    content: '';
    width: 100%;
    height: 20px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: 0.6rem;
    left: 50%;
    transform: translate(-50%);
    border-radius: 0.4rem;
    z-index: -1;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(0, -10%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(-10%, -10%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slideInDiag {
  from {
    opacity: 0;
    transform: translate(-10%, -10%);
  }
  to {
    opacity: 1;
    transform: translate(0, 1rem);
  }
}

@keyframes slideInRight {
  from {
    transform: skew(-20deg) translate(-20%);
  }
  to {
    transform: skew(-20deg) translate(-60%);
  }
}

@media (min-width: 720px) {
}
